<div class="col-md-6 offset-md-3">
    <div class="card bg-white text light">
        <div class="card-header">
            <h1 class="h4 text white">Participantes</h1>
        </div>
    </div>
    <div class="card-body">
        {{#if contacts}}
        <ul class="list-group">{{#each contacts}}
            <li class="list-group-item justify-content-between align-items-center">
                <h3>{{firstname}} {{ lastname}}</h3>
                <p>{{email}}</p>
                <p>{{phone}}</p>
                <a class="btn btn-danger" href="/delete-contact/{{id}}">Borrar</a>
                <a class="btn btn-secondary" href="/edit-contact/{{id}}">Editar</a>
            </li>
            {{/each}}
        </ul>
        {{else}}
         <p>No hay participantes</p>
        {{/if}}
        
    </div>

    <div class="card footer">
        

        <form action="{{#unless contact.id}}/new-contact{{else}}/update-contact/{{contact.id}} {{/unless}}"  method="POST">
            <div class="row">
                <div class="col">
                    <label for="firstname"></label>
                    <input type="text" name="firstname" class="form-control mb-2" placeholder="first name" id="firstname" value="{{contact.firstname}}">
                </div>
                
                <div class="col">
                    <label for="lastname"></label>
                    <input type="text" name="lastname" class="form-control mb-2" placeholder="last name" id="lastname" value="{{contact.lastname}}">
                </div>
        </div>
            
            <div class="row">
                <div class="col">
                    <label for="email"></label>
                    <input type="text" name="email" class="form-control mb-2" placeholder="email" id="email" value="{{contact.email}}">
                </div>
                
                <div class="col">
                    <label for="phone"></label>
                    <input type="text" name="phone" class="form-control mb-2" placeholder="phone" id="phone" value="{{contact.phone}}">
                </div>
            </div>
            
            {{#if contact.id}}
                <button class="btn btn-primary btn-block">Actualizar</button>
                <a href="/" class="btn btn-secondary">Cancelar</a>
                {{else}}
                <button class="btn btn-primary btn-block">Agregar</button>
            {{/if}}
            
        </form>
    </div>

</div>